@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


html {
	background-image: url(images/michelle.jpg);
	background-color:#000;
	background-size: 100%;
	background-repeat: no-repeat;
	
}

nav ul {
	list-style-type: none;
	text-align: right;
	margin-bottom:-5%;
	margin-right:3%;
	
}

nav li {
	display: inline;
	color: #fff;
}

nav a,
nav a:link,
nav a:visited {
	display: inline-block;
	color: #fff;
	font-size: 1.5em;
	text-decoration: none;
}

	
body {
	width: 100%;
	font-family: 'Pathway Gothic One', sans-serif;
	color:#FFF;
	
}

background body {
	width:100%;
}

.logo {
	width: 80px;
	margin-left: 3%;
}

@media only screen and (min-width: 40em) {
.logo {
	width: 100px;

}
}

@media only screen and (min-width: 80em) {
.logo {
	width: 120px;
}
}

	article {
	
	width: 200px;
	background-color:#000;
	min-height: 100%;
	display:inline-block;
	float:left;
	padding: 1em;
	margin: .5em;
	margin-top: 2em;
	font-size:18px;
	
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}

@media only screen and (min-width: 20em) {
article {
	
	width: 200px;
	font-size:18px;
	margin-top: 5em;
}
}

@media only screen and (min-width: 40em) {
article {
	
	width: 400px;
	min-height: 100%;
	font-size:20px;
}
}

@media only screen and (min-width: 80em) {
article {
	
	width: 500px;
	min-height: 100%;
	font-size:25px;
}
}

h1 {
	font-size: 30px;
	text-align:left;
	color:#FFF;
	margin-left: 3%;
}

h2 {
	font-size: 25px;
	text-align:left;
	color:#FFF;
	margin-left: 3%;
}

p {
	margin-left: 3%;
}

.icons {
	width: 150px;
}
@media only screen and (min-width: 40em) {
	
	.icons {
	width: 250px;
}
}

@media only screen and (min-width: 80em) {
	
	.icons {
	width: 300px;
}
}

table {
	background-color:#000;
}

table.portfolio {
	empty-cells: show;
	padding:3%;
} 

img.port {
	width: 90px;
	height: 90px;
}

@media only screen and (min-width: 40em) {
	
img.port {
	width: 180px;
	height: 180px;
}
}

@media only screen and (min-width: 80em) {
	
img.port {
	width: 200px;
	height: 200px;
}
}


